:root {
  --primary: red;
  --secondary: yellow;
  --tertiary: darkgrey;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  padding-bottom: 5px;
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--tertiary);
}

header h1 {
  padding: 0px 10px 0px 50px;
  background-color: var(--primary);
  margin: 5px 0;
}

li {
  display: inline;
  border-bottom: 5px solid var(--primary);
}
nav li {
  padding: 0px 5px;
  margin: 0px;
}
nav ul {
  margin-right: 50px;
}

.hero-banner {
  padding: 20px 0px;
  display: flex;
  justify-content: flex-end;
  background-image: url(../images/island_road.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-banner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.hero-banner h2 {
  background-color: var(--primary);
  margin-top: 20px;
  padding: 0px 10px;
}

.hero-banner img {
  border-radius: 100%;
  width: 200px;
}

.page-wrapper {
  margin: 20px 50px;
}

.page-section {
  display: flex;
  margin-bottom: 20px;
}

.page-section h2 {
  text-align: right;
  padding-right: 10px;
  flex: 0 0 200px;
  border-right: 3px solid rgba(0, 0, 0, 0.2);
}

.introText {
  flex: 1 1 content;
  overflow-wrap: break-word;
  margin-left: 20px;
}

.page-section ul {
  flex: 1 0 content;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding-left: 0px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 100px 100px;
  grid-template-areas:
    "mainProject mainProject"
    "otherProject1 otherProject2"
    "otherProject3 otherProject4";

  width: 100%;
  margin-left: 20px;
}
.gridItem {
  display: flex;
  overflow: hidden;
}

.mainProject img {
  transition: 0.5s ease all;
  /* height: 300px; */
}

.projectImage {
  overflow: hidden;
  max-width: 50%;
}
.mainProject img:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.otherProject img {
}

.CTA:hover {
  margin-left: 30px;
  transition: 0.5s ease all;
  align-items: baseline;
}

.mainProject {
  grid-area: mainProject;
  background-color: red;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
