:root {
  --primary: #009b3a;
  --secondary: #fcead9;
  --secondary: #fcead9;
  --tertiary: rgba(0, 0, 0, 0.9);
  --highight: #fed100;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  padding-bottom: 5px;
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
}

header h1 {
  padding: 0px 10px 0px 50px;
  background-color: var(--primary);
  margin: 10px 0;
  color: white;
}

li {
  display: inline;
  border-bottom: 5px solid var(--primary);
  font-size: 1.3rem;
}

li:hover {
  border-bottom: 5px var(--tertiary) solid;
}

nav li {
  padding: 0px 5px;
  margin: 0px 5px;
  /* color: white; */
}
nav ul {
  margin-right: 50px;
}

.hero-banner {
  padding: 20px 0px;
  display: flex;
  justify-content: flex-end;
  background-image: url(../images/island_road.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-banner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.hero-banner h2 {
  background-color: var(--primary);
  margin-top: 20px;
  padding: 0px 10px;
}

.hero-banner img {
  border-radius: 100%;
  width: 200px;
}

.page-wrapper {
  margin: 20px 50px;
}

.page-section {
  display: flex;
  margin-bottom: 20px;
}

.page-section h2 {
  text-align: right;
  padding-right: 10px;
  flex: 0 0 20%;
  border-right: 3px solid rgba(0, 0, 0, 0.2);
}

.introText {
  /* flex: 1 1 content; */
  overflow-wrap: break-word;
  margin-left: 20px;
}

.page-section ul {
  flex: 1 0 content;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding-left: 0px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 150px 150px;
  grid-template-areas:
    "mainProject mainProject"
    "otherProject otherProject"
    "otherProject otherProject";
  width: 100%;
  margin-left: 20px;
}

.gridItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "projectImage projectDetails";
  background-color: var(--secondary);
}

.gridItem img {
  transition: 0.5s ease all;
}

.otherProject {
  margin-top: 20px;
}

.projectImage {
  overflow: hidden;
}
.gridItem img:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.CTA {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.CTA svg {
  margin-left: 5px;
}

.CTA:hover {
  margin-left: 30px;
  transition: 0.5s ease all;
}

.mainProject {
  grid-area: mainProject;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mainProject .content {
  padding: 20px;
}
.otherProject .content {
  padding: 10px;
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .gridContainer {
    grid-template-rows: 320px 175px 175px;
  }
  .techUsed {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
  }

  .gridItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "projectImage"
      "projectDetails";
    background-color: var(--secondary);
  }

  li {
    display: block;
  }
  nav li {
    margin: 0px;
  }
  nav ul {
    padding-left: 10px;
  }

  header {
    justify-content: start;
  }

  .page-section {
    flex-direction: column;
  }

  header h1 {
    max-width: 45%;
    padding: 10px;
    background-color: var(--primary);
    margin: 10px 0;
    color: white;
  }

  .mainProject img {
    height: 150px;
  }

  .contact ul {
    flex-direction: column;
  }
  .page-section h2 {
    border-right: 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: right;
  }
}
